/* Copyright - Oliver Acker, acker_oliver@yahoo.de
stylesprint.css
Version 3.36_beta */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #cacaca;
    color: #333;
    word-wrap: break-word;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    color: #333;
    word-wrap: break-word;
    border: 0px solid #ccc;
    border-left: 15px solid white;
}

th,
td {

    padding: 1px;
    text-align: left;
    word-wrap: break-word;
    line-height: 1.11;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 97%;
    padding: 0px;

    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
    line-height: 1.11;

    height: 1.11;

    font-size: 16px;
    background-color: #fcfcfc;
}

input[type="radio"] {
    display: none;
}

.radio-label,
.checkbox-label {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 10px;
    background-color: #fff;
    margin: 1px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.radio-label::before,
.checkbox-label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #8d8d8d;
    border-radius: 4px;
    transform: translate(-50%, -50%);
}

.radio-label::after,
.checkbox-label::after {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    font-size: 15px;
    transform: translate(-50%, -50%);
}

input[type="radio"]:checked+.radio-label::before,
input[type="checkbox"]:checked+.checkbox-label::before {
    background-color: #fff;

}

input[type="radio"]:checked+.radio-label::after,
input[type="checkbox"]:checked+.checkbox-label::after {
    color: rgb(24, 24, 24);
    background-color: #fff;
}

.radio-label,
.checkbox-label {
    width: 24px;
    height: 22px;
}

h2,
h3 {
    color: #444;
    margin-bottom: 11px;
}

.bilderzimmer>div h3 {
    font-weight: 200;
}

h2 {
    margin-bottom: 25px;
}

.header01 {
    text-align: center;
    font-weight: bold;
    background-color: #f1f1f1;
    padding: 10px;
    border: none;
}

.allgemein {

    border: 0px;
}

.rooms {
    background-color: #c8d8e7;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 200vh;

}

.sticky-container {
    position: sticky;
    top: 10px;
    background: white;
    padding: 10px;
    z-index: 1000;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#toggleModeButton {
    background-color: #2764a4;
    color: white;
}

#savePdfButton {
    background-color: #28a745;
    color: white;
}

.erstezeilekueche {
    border-top: 25px solid rgb(255, 255, 255);
    border-bottom: 0px solid rgb(201, 210, 24);
}

.uberschrift2 {
    background-color: #c8d8e7;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    border-radius: 5px;
}

.protart {
    font-size: 24px;
}

input[type="text"],
textarea,
select {
    width: 97%;
    padding: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
    line-height: 1.11;

    font-size: 16px;
    background-color: #fcfcfc;
    margin-right: 5px;
    margin-left: 5px;
}

select {
    line-height: 1.11;

    padding-top: 3px;
    padding-bottom: 3px;

}

input[type="text"] {
    padding-top: 7px;
}

#datum {
    line-height: 1.11;
    min-width: 300px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 12px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding-left: 5px;

    font-size: 16px;
}

textarea {
    font-family: arial;
    font-size: 18px;
    white-space: pre-wrap;

    overflow-wrap: break-word;
    background-color: #e9f1cd;

}

.dupli {
    width: 100%;

    max-width: 100%;

    font-size: 16px !important;
    border: 0px;
}

input.dupli {
    background-color: #fcfcfc !important;
    border: none !important;

    margin: 0 !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.signature-canvas,
#vermieter-signature {
    border: 2px solid #d7d7d7;
    background: #fff;
    width: 500px;
    height: 150px;
}

#vermieter-signature {
    /* margin-bottom: 25px; */
    margin-bottom: 0px;
}

.allgemein00>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1+2) {
    text-align: center;
    font-weight: bold;
    margin-top: 22px;
    height: 50px;
    font-size: 22px;
}

.image-container {
    display: flex;
    justify-content: center;

    margin: 20px 0;

}

.image-container img {
    max-width: 100%;

    height: auto;

}

.room-container {
    background-color: rgb(220, 236, 220);
    Padding: 10px;
    margin-top: 15px;
    padding-top: 15px;
    border-radius: 10px;

}

.remark-row {
    background-color: #fff;
    margin-left: 0px;
    padding-left: 12px;
    padding-bottom: 5px;
}

.dupli-container {
    margin-bottom: 5px;
}


[id^="einziehender-mieter-signature-"] {
    background-color: #fff;
    border: 2px solid #d7d7d7;
}


[id^="ausziehender-mieter-info-"],
#einziehender-mieter-info-8 {
    margin: 25px 0;
}

[id^="ausziehender-mieter-signature-"] {
    margin-bottom: 1px;
    background-color: #fff;
    border: 2px solid #d7d7d7;
}












.signature-content>div:nth-child(2)>label:nth-child(1) {
    font-weight: 600;
}

.image-preview,
.large-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.image-preview .image-container .image-wrapper .delete-btn {
    background-color: #cc1313;
    border-radius: 22px;
    top: -8px;
    right: -10px;
}

.image-container img {
    width: 90px;
    height: 90px;
}

.large-image-container img {
    height: 600px;
    display: block;
    margin: 5px auto;
    margin-bottom: 25px;
}

.large-image-wrapper,
.bilderzimmer>div {
    border: 2px solid rgb(108, 108, 108);
    margin-top: 25px;
    padding-left: 10px;
}

#weitereBemerkungenContainer {
    margin-top: 35px;
}

#hauptBemerkungenContainer {
    margin-top: 35px;
}

#zzzallgemein {
    padding: 22px;

}

.mails,
.mails2 {
    font-size: 16px !important;
    background-color: #fff;
    height: 1.9 !important;
    line-height: 1.9 !important;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    padding-top: 7px;
    padding-left: 5px;
    margin-top: 2px;
}

.mails {
    width: 357px !important;
}

.mails2 {
    width: 250px !important;
}


#schluesselTable>tbody:nth-child(2)>tr>td:nth-child(2)>input:first-child {
    width: 100%;
    background: #fff;
    border: none;
    border-radius: 5px;
    line-height: 1.11;
    padding: 11px 0 1px 10px;
    font-size: 16px;
}

.separator {
    width: 80px;
}



#schluesselTable th,
#schluesselTable td {
    padding-top: 1px;
    margin-top: 0px;
    margin-right: 0px;
    padding-right: 15px;
}

#schluesselTable th {
    padding-left: 1px !important;
}



#schluesselTable>tbody:nth-child(2)>tr>td:nth-child(1) {
    padding-left: 0 !important;
}

#schluesselTable>tbody:nth-child(2)>tr>td:nth-child(2)>input:first-child {
    text-align: center;
}


.sign02 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;

}

.zzzpprint1 {
    border-radius: 7px;
}

.spinner {
    /* border: 4px solid rgba(255, 255, 255, 0.6); */
    border: 4px solid rgba(255, 255, 255);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px auto;
}

/* @keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

.input-euro-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    width: 117%;

}

.elegant-number-input {
    width: 100px;
    padding-right: 5px;
    text-align: center;
    font-size: 1rem;
    border-radius: 3px;
    line-height: 1.11;
}

.euro-symbol {
    font-size: 18px;
    opacity: 1 !important;
}

td.no-border-right.text-right {
    min-width: 130px;

}

#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(2)>td:nth-child(3),
#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(2)>td:nth-child(5),
#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(2)>td:nth-child(7) {
    background-color: #fff;
}

#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(4)>td:nth-child(4) {
    background-color: #f1f1f1;
}

#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(6)>td:nth-child(1)>div:nth-child(1)>input:nth-child(1) {
    width: 100%;
}

#hauptBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(4)>td:nth-child(1)>div:nth-child(1)>input:nth-child(1) {
    width: 100%;
}


#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loadingOverlay .loading-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;

    max-width: 800px;

}

#progressBar {
    width: 95%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-top: 10px;
}

#progressBar .progress {
    height: 200%;

    background-color: #ff2797;
    border-radius: 10px;
    width: 0%;

}

#closeLoadingOverlay {
    margin-top: 5px !important;
    padding: 3px 3px !important;
    background-color: #960a0a !important;
    color: white !important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}

.customUploadButton,
.imageUpload,
.imagePreview,
#file-upload-1,
#file-upload-2,
#file-upload-3,
#file-upload-4,
#file-upload-5,
#file-upload-6,
#file-upload-7,
#file-upload-8,
#file-upload-9,
.image-preview {
    display: none;
}

.stammdupli {
    margin-bottom: 1px !important;
    Font-size: 18px !important;
    line-height: 1.1 !important;
    padding-left: 16px !important;
    margin-top: 10px !important;
    margin-left: 0 !important;
}

.stammdupli>div[style*="font-weight:bold"] {
    font-weight: bold !important;
    font-size: 20px !important;
    text-decoration: underline !important;
    display: block !important;
    margin-bottom: 10px !important;
}

#strasseeinzugsign,
#plzeinzugsign,
#lageeinzugsign,
#datumsign,
#mieteridsign {
    display: inline-block !important;
    margin-right: 10px !important;
    font-size: 18px !important;
}

.sign02 {
    margin-bottom: 1px !important;
}

.signature-container {
    margin-left: 15px;
}

span {
    opacity: 1;
}

#toggleDiv>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(3)>td:nth-child(1) {
    width: 350px;
    text-align: left;

}

#toggleDiv>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(2)>td:nth-child(4)>input:nth-child(1) {
    width: 300px !important;
    margin-right: 0px !important;

}

#lageeinzug2 {
    margin-left: 0px !important;
    width: 300px !important;
}



.loading-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

input[type="text"],
textarea,
select {
    margin-left: 0px;
}



#zaehlerTable>tbody:nth-child(2)>tr>td:nth-child(3)>input:first-child {
    width: 314px !important;
}


#zaehlerTable>tbody:nth-child(2)>tr:nth-child(2)>td:nth-child(3)>input:nth-child(1) {
    width: 266px;
}

.fortsetzung {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

input {
    height: 30px !important;

    padding: 3px 0px 3px 3px !important;

    box-sizing: border-box !important;

    line-height: 25px !important;

}

#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(2)>td:nth-child(2),
#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(2)>td:nth-child(4),
#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(2)>td:nth-child(6) {
    background: #f1f1f1;
}

#hauptBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(2)>td:nth-child(3) {
    padding-left: 11px;
}

input[type="text"],
textarea,
select {
    padding-left: 6px !important;
}

input[type="text"] {
    font-size: 16px !important;
}

input[type="number"] {
    border: 1px solid #ccc !important;

    box-sizing: border-box !important;

}

#schluesselTable>thead:nth-child(1)>tr:nth-child(1)>th:nth-child(2) {
    text-align: center;
}

.hidden {
    display: none;
}

#emailMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

#emailMenu h3 {
    margin: 0 0 15px;
    font-size: 18px;
    color: #333;
}

#emailMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

#emailMenu ul li {
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

#emailMenu button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#emailMenu button:hover {
    background-color: #45a049;
}

#emailMenu button#cancel {
    background-color: #f44336;
}

#emailMenu button#cancel:hover {
    background-color: #e53935;
}

#emailMenuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.signature-content>div:nth-child(1)>table:nth-child(4) {
    left: -13px !important;
}

#logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

#logo-container img {
    width: 220px;
    height: auto;
}

#zaehlerTable>tbody:nth-child(2)>tr>td:nth-child(3) {
    padding-right: 10px;
}


#arbeitsdatum {

    display: none;
}

#formatted-date {
    font-weight: 600;
}

#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(2)>td:nth-child(1) {
    background-color: #f1f1f1;
    margin-bottom: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(3)>td:nth-child(1) {
    padding-top: 11px;
    padding-bottom: 11px;
}

#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(4)>td:nth-child(1) {
    background-color: #f1f1f1;
    padding-top: 11px;
    padding-bottom: 11px;
}

#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1) {
    padding-top: 7px;
    padding-bottom: 11px;
}

input[type="text"],
textarea,
select {
    width: 97%;
    padding: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
    line-height: 1.11;
    height: auto;
    min-height: 24px;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    /* background-color: #fff !important; */
    background-color: #fff !important;

}

#zzzkueche>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(31)>td:nth-child(1) {
    font-weight: 600;
}

#zzzkueche>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(31)>td:nth-child(1) {
    padding-top: 25px;
}

#zaehlerTable>tbody:nth-child(2)>tr>td:nth-child(1)>select {
    padding: 3px !important;
}


#toggleDiv>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(3)>td:nth-child(1) {
    width: 350px;
    text-align: left;
    padding: 10px;
    margin-left: 22px;
}

#toggleDiv>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(3)>td:nth-child(1) {
    padding: 2px !important;

}

#toggleDiv>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(4)>td:nth-child(1) {
    padding-left: 1px !important;
}

#zentral>tbody:nth-child(1)>tr:nth-child(1) {
    height: 25px !important;
}

.container {
    width: 1000px !important;

}

#einzugmieterTable {
    width: 100% !important;
    table-layout: fixed !important;
    border-collapse: separate !important;

    border-spacing: 0 !important;

}

#einzugmieterTable th,
#einzugmieterTable td {
    box-sizing: border-box !important;
    padding: 0 3px !important;

    text-align: left !important;
}

#einzugmieterTable th:nth-child(1),
#einzugmieterTable td:nth-child(1) {
    width: 25% !important;
}

#einzugmieterTable th:nth-child(2),
#einzugmieterTable td:nth-child(2) {
    width: 20% !important;
}

#einzugmieterTable th:nth-child(3),
#einzugmieterTable td:nth-child(3) {
    width: 20% !important;
}

#einzugmieterTable th:nth-child(4),
#einzugmieterTable td:nth-child(4) {
    width: 35% !important;
}

#einzugmieterTable input {
    width: 100% !important;
    box-sizing: border-box !important;
    font-size: 16px !important;
    padding: 3px 5px 0px 5px !important;

    margin: 3px 0 !important;

}

#addeinziehenderMieterRow td {
    text-align: right !important;
}

.size-controls {
    display: flex !important;
    gap: 0 !important;
    margin-top: 0 !important;
}

.size-controls button {
    font-size: 12px !important;
    padding: 0 !important;
    margin: 0 !important;
    cursor: pointer !important;
}

table {
    border-left: 11px solid white !important;
}

#einzugmieterTable>thead:nth-child(1) {
    height: 25px !important;
}

#zimm01>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(22)>td:nth-child(1) {
    padding-bottom: 10px;
}

#auszugmieterTable {
    width: 100% !important;
    table-layout: fixed !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border-left: 0px solid rgb(255, 255, 255) !important;
}

#auszugmieterTable>thead:nth-child(1) {
    height: 25px !important;
}

#auszugmieterTable th,
#auszugmieterTable td {
    box-sizing: border-box !important;
    padding: 0 3px !important;

    text-align: left !important;
}

#auszugmieterTable th:nth-child(1),
#auszugmieterTable td:nth-child(1) {
    width: 25% !important;

}

#auszugmieterTable th:nth-child(2),
#auszugmieterTable td:nth-child(2) {
    width: 25% !important;

}

#auszugmieterTable th:nth-child(3),
#auszugmieterTable td:nth-child(3) {
    width: 20% !important;

}

#auszugmieterTable th:nth-child(4),
#auszugmieterTable td:nth-child(4) {
    width: 30% !important;

}

#auszugmieterTable input {
    width: 100% !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    padding: 3px 5px 0px 5px !important;

    margin: 3px 0 !important;

}

#auszugmieterTable .input-container {
    display: flex !important;
    align-items: center !important;
    gap: 0px !important;

}

#auszugmieterTable .size-controls {
    display: flex !important;
    gap: 5px !important;

}

#auszugmieterTable .size-controls button {
    font-size: 12px !important;
    padding: 2px 5px !important;

    margin: 0 !important;
    cursor: pointer !important;
}

#addausziehenderMieter {
    margin-top: 10px !important;

    padding: 5px 10px !important;

    font-size: 14px !important;
    cursor: pointer !important;
}

#addausziehenderMieterRow td {
    text-align: right !important;
    background-color: white !important;
}

#schluesselTable {
    width: 100% !important;
    table-layout: fixed !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

#schluesselTable>thead:nth-child(1) {
    height: 25px !important;
}

#schluesselTable th,
#schluesselTable td {
    box-sizing: border-box !important;
    padding: 0 3px !important;

    text-align: left !important;
}

#schluesselTable th:nth-child(1),
#schluesselTable td:nth-child(1) {
    width: 30% !important;

}

#schluesselTable th:nth-child(2),
#schluesselTable td:nth-child(2) {
    width: 10% !important;

    text-align: center !important;
}

#schluesselTable th:nth-child(3),
#schluesselTable td:nth-child(3) {
    width: 60% !important;

}

#schluesselTable select,
#schluesselTable input[type="number"],
#schluesselTable input[type="text"] {
    width: 100% !important;
    box-sizing: border-box !important;
    font-size: 16px !important;
    padding: 3px 5px !important;
    margin: 3px 0 !important;
}


#schluesselTable input[type="text"] {
    margin-left: 2px !important;

}




#schluesselTable .input-container {
    display: flex !important;
    align-items: center !important;
    gap: 0px !important;

}

#schluesselTable .size-controls {
    display: flex !important;
    gap: 5px !important;

}

#schluesselTable .size-controls button {
    font-size: 12px !important;
    padding: 2px 5px !important;

    margin: 0 !important;
    cursor: pointer !important;
}


#schluesselTable>tbody:nth-child(2)>tr>td:nth-child(1)>select {
    padding-left: 5px !important;
}

#schluesselTable>tbody:nth-child(2)>tr>td:nth-child(2)>input {
    background: #fff;
}


#schluesselTable th,
#schluesselTable td {
    padding: 0 6px !important;

}

#zaehlerTable {
    width: 100% !important;
    table-layout: fixed !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

#zaehlerTable>thead:nth-child(1) {
    height: 25px !important;
}

#zaehlerTable th,
#zaehlerTable td {
    box-sizing: border-box !important;
    padding: 0 3px !important;

    text-align: left !important;
}

#zaehlerTable th:nth-child(1),
#zaehlerTable td:nth-child(1) {
    width: 230px !important;

}

#zaehlerTable th:nth-child(2),
#zaehlerTable td:nth-child(2) {
    width: 170px !important;

    text-align: center !important;

}

#zaehlerTable th:nth-child(3),
#zaehlerTable td:nth-child(3) {
    width: 290px !important;

}

#zaehlerTable th:nth-child(4),
#zaehlerTable td:nth-child(4) {
    width: 166px !important;

}

#zaehlerTable select,
#zaehlerTable input[type="text"] {
    width: 100% !important;
    box-sizing: border-box !important;
    font-size: 16px !important;
    padding: 3px 5px !important;

    margin: 3px 0 !important;

}

#zaehlerTable .input-container {
    display: flex !important;
    align-items: center !important;
    gap: 0px !important;

}

#zaehlerTable .size-controls {
    display: flex !important;
    gap: 5px !important;

}

#zaehlerTable .size-controls button {
    font-size: 12px !important;
    padding: 2px 5px !important;

    margin: 0 !important;
    cursor: pointer !important;
}

#zaehlerTable>tbody:nth-child(2)>tr>td:nth-child(1)>select {
    padding-left: 5px !important;
}

#zaehlerTable th:nth-child(2),
#zaehlerTable td:nth-child(2) {
    width: 170px !important;

    text-align: left !important;

}

#zzzkueche>table:nth-child(2)>tbody:nth-child(1),
#zzzbad>table:nth-child(2)>tbody:nth-child(1),
#zzzwc>table:nth-child(2)>tbody:nth-child(1),
#zzzflur>table:nth-child(2)>tbody:nth-child(1),
#abstell>table:nth-child(2)>tbody:nth-child(1),
#nebenraum>table:nth-child(2)>tbody:nth-child(1),
#weitereBemerkungen>table:nth-child(2)>tbody:nth-child(1),
#hauptBemerkungen>table:nth-child(2)>tbody:nth-child(1) {
    border-left: 10px solid #fff;
}

.arrows00 {
    display: none !important;
}


[id^="farbeInput"] {
    margin-left: 0 !important;
    width: 25% !important;
    background-color: #fff !important;
    border: none !important;
    padding-left: 2px !important;
}

[id^="fussbodenInput"] {
    margin-left: 0 !important;
    width: 25% !important;
    background-color: #fff !important;
    border: none !important;
    padding-left: 2px !important;
}

#farbeInput8,
#farbeInput9,
#farbeInput10,
#farbeInput11,
#farbeInput12,
#farbeInput13,
#farbeInput14,
#fussbodenInput8,
#fussbodenInput9,
#fussbodenInput10,
#fussbodenInput11,
#fussbodenInput12,
#fussbodenInput13,
#fussbodenInput14 {
    margin-top: 9px !important;
}


[id^="zimm"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(7)>td:nth-child(2)>select:nth-child(1) {
    margin-top: 9px;
}

[id^="fussbodenFarbeInput"] {
    margin-left: 0 !important;
    width: 25% !important;
    background-color: #fff !important;
    border: none !important;
    padding-left: 2px !important;
}

.dropdown-style {
    margin-left: 0px !important;
    width: 98% !important;
    background-color: #fff !important;
    border: none !important;

}

.dropdown-style2 {
    margin-left: 0px !important;
    width: 98% !important;
    background-color: #fff !important;
    border: none !important;
    margin-top: 9px !important;

}

[id^="einziehender-mieter-info-"]:not(:first-child) {
    margin-left: 0 !important;
}

.vermieter {
    margin-bottom: 22px !important;
    position: relative !important;
    top: -8px !important;
    font-weight: 600 !important;
}

[id^="einziehender-mieter-signature-"] {
    width: 500px !important;
    height: 150px !important;
}

.signature-content>div:nth-child(1)>table:nth-child(4)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1) {

    width: 22% !important;
}

#suggestionname1 {
    width: 90% !important;
}

Element .signature-content>div:nth-child(1)>table:nth-child(4)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(2) {

    width: 26% !important;
}

Element .signature-content>div:nth-child(1)>table:nth-child(4)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(3) {

    width: 15% !important;
}

Element .signature-content>div:nth-child(1)>table:nth-child(4)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(4)>div:nth-child(1) {
    width: 95% !important;
}

.custom-table {
    margin-bottom: 15px !important;
    margin-left: -12px !important;
}

#einziehender-mieter-info-2 {
    margin-top: -7px !important;
}


div.remark-row:nth-child(n+3):nth-child(-n+13)>div:first-child>input:first-child {
    border: 0;
    margin: 0 0 2px 0;
}

[id^="zimm"]>table:nth-child(2) tr:nth-child(22)>td:first-child {
    padding-bottom: 10px;
}


[id^="zimm"]>table:nth-child(2)>tbody>tr:first-child {
    border-bottom: 30px solid #fff !important;
    border-top: 15px solid #fff !important;
}

[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(8),
[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(9),
[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(17),
[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(19) {
    border-bottom: 15px solid rgb(255, 255, 255) !important;
}

[id^="zimm1"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(8),
[id^="zimm1"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(9),
[id^="zimm1"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(17),
[id^="zimm1"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(19) {
    border-bottom: 15px solid rgb(255, 255, 255) !important;
}

[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(11),
[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(14),
[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(15),
[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(16),
[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(19) {
    border-bottom: 11px solid rgb(255, 255, 255) !important;
}

[id^="zimm1"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(11),
[id^="zimm1"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(14),
[id^="zimm1"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(15),
[id^="zimm1"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(16),
[id^="zimm1"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(19) {
    border-bottom: 11px solid rgb(255, 255, 255) !important;
}

[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(21) {
    border-bottom: 33px solid #ffffff !important;
}

[id^="zimm1"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(21) {
    border-bottom: 33px solid #ffffff !important;
}

[id^="farbeInput"],
[id^="fussbodenInput"],
[id^="fussbodenFarbeInput"] {
    margin-left: 0px !important;
    width: 98% !important;
}

.signature-content>div:nth-child(1)>table:nth-child(4)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1) {
    position: relative !important;
    left: -12px !important;
}

#progressBar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: none;
    background-image: none;
    background-blend-mode: normal;
    transition: none;
    will-change: auto;
}

#progressBar.pdf-view,
#progressBar.pdf-view::before {
    animation: none !important;
    transition: none !important;
    background-image: none !important;
    background-blend-mode: normal !important;
    box-shadow: none !important;
    will-change: auto !important;
}



.rwm-label {
    font-size: 16px;
    text-align: left;
}

.rwm-input-container {
    text-align: left;
}

.rwm-input {
    width: 20px;
    font-size: 16px;
    text-align: left;
    margin-left: 3px !important;

}



[id^="rwm-count"] {
    width: 30px !important;
    border-radius: 5px;
    border: none !important;
}

.commentshead {

    padding-top: 12px;
    font-weight: 600;
}


[id^="zimm"]>table:nth-child(2) tr:nth-child(16)>td:first-child {
    line-height: 1;
}


[id^="zimm0"]>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(18)>td:nth-child(1) {
    line-height: 1;
}


#zaehlerTable>tbody:nth-child(2)>tr:nth-child(n+1):nth-child(-n+10)>td:nth-child(4)>input:nth-child(1) {
    width: 166px;
    font-size: 16px;
}

.meterstand {
    background-color: #fff;
    border-radius: 5px;
    width: 178px !important;
}

#zzzkueche>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(9)>td:nth-child(2)>select:nth-child(1) {
    padding-left: 2px !important;
}

.haus {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 8px;
}

#toggleDiv>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(4) {
    border-top: 4px solid white;
}

.abort-progress-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;

}

.abort-progress-modal-content {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    font-size: 18px;
    color: #333;
    text-align: center;
    max-width: 90%;
}

.zentral-container {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
}

/* Innere Tabelle */
.zentral-inner-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

/* Heizung Label-Zelle */
.label-cellheiz {
    width: 10%;
    padding: 8px 15px 8px 5px;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
    color: #333;
}

/* Heizung Input-Zelle */
.input-cellheizinput {
    width: 40%;
    padding: 5px 10px;
    padding-top: 22px;
}

/* Warmwasser Label-Zelle */
.label-cellwarm {
    width: 10%;
    padding: 8px 15px 8px 5px;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
    color: #333;
    padding-left: 50px;
}

/* Warmwasser Input-Zelle */
.input-cellwarminput {
    width: 40%;
    padding: 5px 10px;
    /* padding-top: 5px; */
}

.input-cellheizinput,
.input-cellwarminput {
    padding-top: 10px !important;

}

#protokollart2,
#protokollart3 {
    background-color: #fff !important;
    padding: 5px !important;
    border: 1px solid rgb(176, 176, 176) !important;
    padding-left: 5px !important;

}

.fa-fire,
.fa-faucet {
    margin-right: 10px;
}

#zentral11 {
    margin-bottom: 0;
}

td.label-cellheiz1:nth-child(1)>h3:nth-child(1),
td.label-cellheiz1:nth-child(3)>h3:nth-child(1) {
    margin-bottom: 1px !important;
    margin-top: 15px !important;
}



.sticky-container {
    position: fixed;

    z-index: 999;

    width: 500px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;

    transition:
        max-height 0.4s ease-out,
        opacity 0.3s ease 0.1s,
        padding 0.3s ease;
    margin-bottom: 35px;
    top: 68px;
    left: 24px;
}





.sticky-container[data-state="open"] {
    max-height: 700px;
    opacity: 1;
    padding: 15px;
}

/* BUTTONS & SELECTS */
.sticky-container button,
.sticky-container select {
    min-width: 100px;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease;
}

.sticky-container button:hover,
#pictopdfButton:hover {
    background-color: #466ec3;
}

/* BUTTON-GRUPPEN */
.button-group {
    display: flex;
    gap: 8px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .sticky-container {
        width: calc(100% - 30px);
        left: 15px;
        right: 15px;
        flex-direction: column;
        align-items: stretch;
    }

    #loadSelect,
    .pdf-button,
    #pictopdfButton,
    #savePdfButton {
        width: 100%;
        margin: 4px 0;
    }
}

@media (min-width: 769px) {
    .sticky-container {
        flex-direction: row;
    }

    #loadSelect {
        min-width: 120px;
        margin-right: 8px;
    }
}

#toggleStickyBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;

    padding: 10px 16px;
    background-color: #4a6fa5;
    color: #ffffff;

    font-size: 16px;
    font-weight: 500;

    border: none;
    border-radius: 8px;
    cursor: pointer;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

/* Hover-Zustand */
#toggleStickyBtn:hover {
    background-color: #3b5d87;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

/* Pfeil rechts oder runter */
#toggleStickyBtn::after {
    content: "❯";
    display: inline-block;
    margin-left: 8px;
    font-size: 12px;
    transition: transform 0.3s ease;
}

#toggleStickyBtn[data-state="closed"]::after {
    transform: rotate(90deg);
    /* zeigt nach unten */
}

#toggleStickyBtn[data-state="open"]::after {
    transform: rotate(270deg);
    /* zeigt nach oben */
}

/* Tablet & PC – zusätzliche Anpassungen */
@media (max-width: 768px) {
    #toggleStickyBtn {
        left: 10px;
        top: 10px;
        font-size: 14px;
        padding: 8px 12px;
    }
}

#connection-status {
    top: 585px !important;
    left: 502px !important;
}


#schluesselTable>tbody:nth-child(2)>tr>td:nth-child(2),
#schluesselTable>tbody:nth-child(2)>tr>td:nth-child(3) {
    padding-left: 0 !important;
    padding-right: 3px !important;
}


#duplizimm01-zeile1,
#duplizimm02-zeile1,
#duplizimm03-zeile1,
#duplizimm04-zeile1,
#duplizimm05-zeile1,
#duplizimm06-zeile1,
#duplizimm07-zeile1,
#duplizimm08-zeile1,
#duplizimm09-zeile1 {
    left: -5px !important;
    position: relative !important;
    border: none;
}

#duplimaengelbeseit {
    width: 97% !important;
}

#duplihauptBemerkungen01 {
    font-size: 18px;
    height: 24px;
    width: 97% !important;
}


h3 i.fas {
    margin-left: 15px !important;
}

.fa-fire {
    margin-left: 1px !important;
}

.burger-menu-icon {
    display: inline-block;
    width: 25px;
    height: 15px;
    position: relative;
}

.burger-menu-icon::before,
.burger-menu-icon::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
}

.burger-menu-icon::before {
    top: 0;
}

.burger-menu-icon::after {
    bottom: 0;
}
.burger-menu-icon {
    background: linear-gradient(to bottom,
            transparent 6px,
            currentColor 6px,
            currentColor 9px,
            transparent 9px);
}

/* Optional: Animation beim Hover */
.pdf-button:hover .burger-menu-icon {
    opacity: 0.8;
}
.signature-box {
    margin-top: 20px;
}

#StrasseAus01 {
    height: 24px;
    font-size: 22px !important;
}
